/**
 * Divider
 */

.divider-container {
    max-width: 100%;
    padding-top: {{ site.style.spacing.small }};
    padding-bottom: {{ site.style.spacing.small }};
}
.divider-container__divider {
    border-top: 1px solid {{ site.style.color.light_gray }};
}

/**
 * Image
 */

/*MailChimp strips classes from editable images so apply class to parent*/
.image-container img {
    height: auto;
    width: {{ site.style.width.full_width }}px;
}
.image-container--with-border img {
    border: 1px solid {{ site.style.color.lighter_gray }};
}
.image-container--primary-column img {
    width: {{ site.style.width.two_column_primary }}px;
}
.image-container--logo img {
    width: {{ site.style.width.logo }}px;
}
@media only screen and (max-width: {{ site.style.breakpoint.mobile }}) {
    .image-container img {
        width: 100% !important;
    }
    .image-container--logo img {
        width: {{ site.style.width.logo }}px !important;
    }
}

/**
 * Button
 */

.button-container__border {
    border-radius: 3px;
    background-color: {{ site.style.color.brand }};
}
.button-container__button,
a.button-container__button {
    display: block;
    padding: 12px 18px;
    border-radius: 3px;
    border: 1px solid {{ site.style.color.brand }};
    color: {{ site.style.color.white }};
    text-decoration: none;
    text-decoration: none;
    font-family: {{ site.style.font_family }};
}
.button-container--light .button-container__border {
    background-color: {{ site.style.color.white }};
}
.button-container--light .button-container__button,
.button-container--light a.button-container__button {
    border: 1px solid {{ site.style.color.white }};
    color: {{ site.style.color.dark_gray }};
}
@media only screen and (max-width: {{ site.style.breakpoint.mobile }}) {
    .button-container {
        width: 100% !important;
    }
}

/**
 * List
 */

.number-item {
    min-width: {{ site.style.width.number_icon }}px;
    height: {{ site.style.width.number_icon }}px;
    line-height: {{ site.style.width.number_icon }}px;
    border: 1px solid {{ site.style.color.brand }};
    border-radius: 100%;
    margin-top: 4px;
    color: {{ site.style.color.brand }};
    font-family: {{ site.style.font_family }};
}

/**
 * Link
 */

.inline-link {
    padding: {{site.style.spacing.small}} {{site.style.spacing.small}};
}
@media only screen and (max-width: {{ site.style.breakpoint.mobile }}) {
    .inline-link--full-line {
        display: block;
        padding: {{site.style.spacing.small}} 0;
    }
}
