/**
 * Body
 */

body, .body, .body__container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: {{ site.style.color.white }};
}
.body__container {
    padding: {{ site.style.spacing.small }};
}
.body__container__container {
    max-width: {{site.style.width.overall}}px !important;
    border: 0;
}

/**
 * Sections
 */

.section {
    border: 0;
    padding-right: {{ site.style.spacing.large }};
    padding-left: {{ site.style.spacing.large }};
}
.section--bg-brand {
    border-radius: 3px;
    color: {{ site.style.color.white }};
    background-color: {{ site.style.color.brand }};
}
.section--align-center {
    text-align: center;
}
.section--narrow {
    padding-right: 100px;
    padding-left: 100px;
}
.section--header{
    border-bottom: 1px solid {{ site.style.color.dark_gray }};
    padding-top: {{ site.style.spacing.xlarge }};
    padding-bottom: {{ site.style.spacing.large }};
    text-align: center;
}
.section--footer {
    border-top: 1px solid {{ site.style.color.dark_gray }};
    border-bottom: 0;
    padding-top: {{ site.style.spacing.large }};
    padding-bottom: {{ site.style.spacing.xlarge }};
    text-align: center;
}
.section--container {
    padding-top: {{ site.style.spacing.large }};
}
.section--filled-container {
    margin-top: {{ site.style.spacing.large }};
    padding-top: {{ site.style.spacing.medium }};
    padding-bottom: {{ site.style.spacing.medium }};
}
.section__content {
    padding-top: {{ site.style.spacing.small }};
}
.section__column--primary {
    width: {{ site.style.width.two_column_primary }}px;
}
.section__column--secondary {
    width: {{ site.style.width.two_column_secondary }}px;
}
.section__column--equal {
    width: {{ site.style.width.two_column_equal }}px;
}

@media only screen and (max-width: {{ site.style.breakpoint.mobile }}) {
    .section {
        display: block !important;
        padding-right: {{ site.style.spacing.small }} !important;
        padding-left: {{ site.style.spacing.small }} !important;
    }
    .section.section--filled-container {
        padding-left: {{ site.style.spacing.medium }} !important;
        padding-right: {{ site.style.spacing.medium }} !important;
    }
    .section--narrow {
        padding-right: {{ site.style.spacing.small }} !important;
        padding-left: {{ site.style.spacing.small }} !important;
    }
    .section__column {
        max-width: 100% !important;
        width: 100% !important;
    }

    .section--mobile-filled-container-top {
        padding-top: 0 !important;
    }
    .section--filled-container {
        margin-top: 0 !important;
    }
    .section__column--mobile-stacked-top {
        margin-bottom: {{ site.style.spacing.small }} !important;
    }
}
