<!-- BEGIN HEADER // -->
<tr>
    <td class="section section--header image-container image-container--logo"
        valign="top"
        align="center">
        <!-- BEGIN MODULE: HEADER IMAGE // -->
        <a href="https://www.textup.org"
            target="_blank"
            rel="noopener noreferrer"><img src="https://gallery.mailchimp.com/188b910ba70aca78678e445fc/images/85374e88-d572-4d31-a65c-0358317a71dc.jpg"
            alt="TextUp logo"></a>
        <!-- // END MODULE: HEADER IMAGE -->
    </td>
</tr>
<!-- // END HEADER -->
