<!-- BEGIN PREHEADER // -->
<tr>
    <td valign="top"
        class="section section--two-columns text-container text-container--small">
        <!-- BEGIN MODULE: STANDARD PREHEADER // -->
        <table border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%">
            <tbody>
                <tr>
                    <td valign="top">
                        <!-- [if mso]>
                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                        <tr>
                        <td valign="top"
                            width="{{ site.style.width.two_column_primary }}"
                            style="width:{{ site.style.width.two_column_primary }}px;">
                        <![endif] -->
                        <table align="left"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            width="100%"
                            class="section__column section__column--primary section__column--mobile-stacked-top">
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        <div mc:edit="preheader_preview_message">
                                            <p>Use this area to offer a short preview of your email's content.</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [if mso]>
                        </td>
                        <td valign="top"
                            width="{{ site.style.width.two_column_secondary }}"
                            style="width:{{ site.style.width.two_column_secondary }}px;">
                        <![endif] -->
                        <table align="left"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            width="100%"
                            class="section__column section__column--secondary">
                            <tbody>
                                <tr>
                                    <td valign="top"
                                        align="right">
                                        <div>
                                            <p>
                                                <a href="*|ARCHIVE|*"
                                                    target="_blank">
                                                    View email in your browser
                                                </a>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [if mso]>
                        </td>
                        </tr>
                        </table>
                        <![endif] -->
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- // END MODULE: STANDARD PREHEADER -->
    </td>
</tr>
<!-- // END PREHEADER -->
