<tr mc:repeatable="base"
    mc:variant="List Item">
    <td valign="top"
        class="section section--container">
        <table width="100%"
            border="0"
            cellspacing="0"
            cellpadding="0">
            <tr>
                <td align="center"
                valign="top"
                width="{{ site.style.width.number_icon }}px">
                    <div class="number-item" mc:edit="list_item_number">
                        1
                    </div>
                </td>
                <td valign="top" class="section">
                    <table align="left"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        width="100%">
                        <tbody>
                            <tr>
                                <td valign="top">
                                    <h2 class="heading heading--2" mc:edit="list_item_title">
                                        Item title here
                                    </h2>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top"
                                    class="text-container"
                                    mc:edit="list_item_text"
                                    mc:hideable>
                                    Item description here
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
