<tr mc:repeatable="base"
    mc:variant="Two Column Box Right">
    <td valign="top"
        class="section section--container">
        <table border="0"
            cellpadding="0"
            cellspacing="0"
            width="100%">
            <tbody>
                <tr>
                    <td valign="top">
                        <!-- [if mso]>
                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                        <tr>
                        <td valign="top"
                            width="{{ site.style.width.two_column_equal }}"
                            style="width:{{ site.style.width.two_column_equal }}px;">
                        <![endif] -->
                        <table align="left"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            width="100%"
                            class="section__column section__column--equal section__column--mobile-stacked-top">
                            <tbody>
                                <tr>
                                    <td valign="top"
                                        class="section section--filled-container section--mobile-filled-container-top">
                                        <h2 class="heading heading--2"
                                            mc:edit="two_column_box_right_text_title"
                                            mc:hideable>
                                            Title here
                                        </h2>
                                        <div class="section__content text-container"
                                            mc:edit="two_column_box_right_text_contents">
                                            Paragraph text here
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [if mso]>
                        </td>
                        <td valign="top"
                            width="{{ site.style.width.two_column_equal }}"
                            style="width:{{ site.style.width.two_column_equal }}px;">
                        <![endif] -->
                        <table align="right"
                            border="0"
                            cellpadding="0"
                            cellspacing="0"
                            width="100%"
                            class="section__column section__column--equal">
                            <tbody>
                                <tr>
                                    <td valign="top">
                                        <table border="0"
                                            cellpadding="0"
                                            cellspacing="0"
                                            width="100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top"
                                                        class="section section--filled-container section--bg-brand"
                                                        style="background-color:{{ site.style.color.brand }};">
                                                        <h2 class="heading heading--light heading--2"
                                                            mc:edit="two_column_box_right_box_title"
                                                            mc:hideable>
                                                            Title here
                                                        </h2>
                                                        <div class="section__content text-container text-container--light"
                                                            mc:edit="two_column_box_right_box_contents">
                                                            Paragraph text here
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- [if mso]>
                        </td>
                        </tr>
                        </table>
                        <![endif] -->
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
